<meta charset="UTF-8">
<meta name="viewport" content="width=800, user-scalable=no, target-densitydpi=device-dpi,minimum-scale=0,maximum-scale=5">
<link rel="shortcut icon" href="${ctxPath}/static/img/favicon.png">
<!--<link rel="stylesheet" href="${ctxPath}/static/css/bolt.css">-->
<link rel="stylesheet" href="${ctxPath}/static/css/common.css">
<link rel="stylesheet" href="${ctxPath}/static/css/bolt.v0.5.0.css">
<link rel="stylesheet" href="${ctxPath}/static/css/bootstrap.simple.css">
<script type="text/javascript" src="${ctxPath}/static/js/handlebars.min-v4.7.7.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/cc.js"></script>

<script type="text/javascript">
    /* 定义全局变量 */
    var ctxPath="${ctxPath}";
</script>