<form id="_page-form">
    <label>当前第{{index}}页共{{data.length}}条,每页{{page_size}}条</label>
    <!--, 每页
    &nbsp;<select class="input-sm" name="pageSize" pageSize="{{size}}"></select>&nbsp;条</label>-->
    <button name="first_page" class="btn btn-outline-dark">首页</button>
    <button name="previous_page" class="btn btn-outline-dark">&lt;&lt;上一页</button>
    <button name="next_page" class="btn btn-outline-dark">下一页&gt;&gt;</button>
    <!--        <button name="last_page" class="btn btn-sm">末页</button>
            <span class="seprator"></span>
            <label>第<input type="text" name="pageIdx" class="page" value="{{index}}" size="3"/>页</label>
            <button name="gopage" class="btn btn-sm btn-default">GO</button>
            -->
</form>
