<!DOCTYPE html>
<html lang="en">
<head>
    <title>代码生成(for sccfc)</title>
    <#include "../wrapper/header.html"/>
    <link rel="stylesheet" href="${ctxPath}/static/css/fix-table.css">
</head>
<body style="height:100%;" >
<div class="main" >
<!-- 业务内容 -->
<div id="data-search">
    <h4>代码生成(for sccfc)</h4>
    <form method="GET" id="search-form">
        <label class="form-label">表名称</label>
        <input type="text" name="table_name" >&nbsp;&nbsp;

        <label class="form-label">表备注</label>
        <input type="text" name="table_comment" >&nbsp;&nbsp;

        <button _func="query" type="submit" class="btn btn-primary">查询</button>
        <button type="reset">重置</button>
        &nbsp;&nbsp;
        <button _func="import_table" type="button" class="btn btn-success">导入</button>
<!--        <button _func="exp" class="btn btn-sm btn-default">导出</button>-->
    </form>
</div>
<div id="data-list"></div>

</div>
<script type="text/cc-template" id="template-data-list">
    <div class="table">
    <table style="white-space: nowrap;overflow: auto;" >
        <thead>
        <tr>
            <th>
                <input type="checkbox" title="全选">
            </th>
            <th>ID</th>
            <th>表名称</th>
            <th>表描述</th>
            <th>当前数据库类型</th>
            <th>DB语句类型</th>
            <th>实体类名称</th>
            <th>包基础路径</th>
            <th>代码所在模块</th>
            <th>作者</th>
            <th>版本</th>
            <th>是否驼峰格式</th>
            <th>下载后端代码所在文件夹</th>
            <th>下载前端代码所在文件夹</th>
            <th>备注</th>
            <th>创建者</th>
            <th>创建时间</th>
            <th>更新者</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <td>
                <input type="checkbox" value="{{table_name}}">
            </td>
            <td>{{id}}</td>
            <td>{{table_name}}</td>
            <td>{{table_comment}}</td>
            <td>{{current_db}}</td>
            <td>{{database_id}}</td>
            <td>{{class_name}}</td>
            <td>{{base_package}}</td>
            <td>{{module_name}}</td>
            <td>{{author}}</td>
            <td>{{version}}</td>
            <td>
                {{#equal camel_case 0}}否{{/equal}}
                {{#equal camel_case 1}}是{{/equal}}
            </td>
            <td>{{back_dir}}</td>
            <td>{{front_dir}}</td>
            <td>{{desc}}</td>
            <td>{{create_by}}</td>
            <td>{{create_time}}</td>
            <td>{{update_by}}</td>
            <td>{{update_time}}</td>
            <td>
                <a href="#" func="preview">预览</a>
                <a href="${ctxPath}/code_gen3/gen3_field.html?table_id={{id}}">编辑</a>
                <a href="#" func="delete">删除</a> <!-- delete 或者 delete() 都可以 均会在common.js中统一注册事件 -->
                <a href="${ctxPath}/code_gen3/download?table_id={{id}}" target="_blank" >下载代码</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
    <#include "../wrapper/page-form.html"/>
</script>
<script type="module">
    import * as Gen3Func from "${ctxPath}/static/js/gen3/gen3.js"
    Gen3Func.init();
</script>
</body>
</html>
