<!DOCTYPE html>
<html>
<head>
    <title>MEE-GENERATOR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="${ctxPath}/static/img/favicon.png">
    <link rel="stylesheet" href="${ctxPath}/static/css/index.css">
<!--    <link rel="stylesheet" href="${ctxPath}/static/css/common.css">-->
    <script type="text/javascript">
    /* 定义全局变量 */
    var ctxPath="${ctxPath}";
    </script>
</head>
<body>
<!--  <div id="main">-->
    <div id="mee-menu">
        <div id="mee-menu-headline">
            MEE-GENERATOR
        </div>
        <nav id="mee-menu-content">

        </nav>
    </div>
    <div id="mee-content" style="width:calc(100% - 260px);padding-left:4px;">
        <!--
        <iframe width="100%" height="99%" name="_content" scrolling="yes" frameborder="0">
            欢迎回来，我的朋友...
        </iframe>
        -->
        <iframe name="_content"
                id="_content"
                width="100%"
                height="98%"
                frameborder="0"
                scrolling="yes">
            欢迎回来，我的朋友...
        </iframe>
    </div>
<!--  </div>-->
</body>

<!--<script type="text/javascript" src="${ctxPath}/static/js/index.js"></script>-->
<script type="module">
    import { init } from "${ctxPath}/static/js/index.js"
    init();
</script>
</html>
