<!DOCTYPE html>
<html lang="en">
<head>
    <title>生成配置(for mee_admin)</title>
    <#include "../wrapper/header.html"/>
    <link rel="stylesheet" href="${ctxPath}/static/css/fix-table.css">
</head>
<body style="height:100%;" >
<div class="main" >
<!-- 业务内容 -->
<div id="data-search">
    <h4>生成配置(for mee_admin)</h4>
    <form method="GET" id="search-form">
    <label>版本</label>
    <input type="text" name="version" >&nbsp;&nbsp;

    <label>数据库类型</label>
    <input type="text" name="database_id" >&nbsp;&nbsp;

    <button _func="query" type="submit" class="btn btn-primary">查询</button>
    <button type="reset" class="btn btn-secondary">重置</button>
    &nbsp;&nbsp;
    <button _func="new_config" type="button" class="btn btn-success">新增</button>
    </form>
</div>

<div id="data-list"></div>
</div>

<script type="text/cc-template" id="template-data-list">
    <div class="table">
        <table style="white-space: nowrap;overflow: auto;" >
        <thead>
        <tr>
            <th>版本</th>
            <th>表ID</th>
            <th>作者</th>
            <th>是否驼峰样式</th>
            <th>包基础路径</th>
            <th>代码所在模块</th>
            <th>数据库类型</th>
            <th>状态</th>
            <th>描述</th>
            <th>更新版本</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr class="highlight_{{status}}">
            <td>{{version}}</td>
            <td>{{id}}</td>
            <td>{{author}}</td>
            <td>
                {{#equal camel_case 0}}否{{/equal}}
                {{#equal camel_case 1}}是{{/equal}}
            </td>
            <td>{{base_package}}</td>
            <td>{{module_name}}</td>
            <td>{{database_id}}</td>
            <td>
                <a href="#" func="enable">
                {{#equal status 0}}未启用{{/equal}}
                {{#equal status 1}}已启用{{/equal}}
                </a>
            </td>
            <td>{{desc}}</td>
            <td>{{update_version}}</td>
            <td>{{update_time}}</td>
            <td>
<!--                <a href="#" func="preview({{table_id}})">预览</a>-->
                <a href="#" func="edit_config">编辑</a>
                <a href="#" func="delete">删除</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
    <#include "../wrapper/page-form.html"/>
</script>
<script type="module">
    import {init} from "${ctxPath}/static/js/gen2/gen2_config.js"
    init();
</script>
<style>
    .highlight_1{
        font-weight:bold;
        color:green;
        text-shadow: 0 1px 0 rgb(15, 70, 30);
    }
</style>
</body>
</html>
